<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <link rel="stylesheet" href="/styles/styles.css" />
        <title>Website name</title>
    </head>
    <body onload="document.body.style.opacity='1'">
        <header>
            <nav>
                <div class="container">
                    <div class="navbar-icon">
                        <a href="/">
                            <svg
                                version="1.1"
                                id="Ebene_2_00000150098937877103535350000013039132893582351236_"
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                x="0px"
                                y="0px"
                                viewBox="0 0 648.1 190.8"
                                style="enable-background: new 0 0 648.1 190.8"
                                xml:space="preserve">
                                <style type="text/css">
                                    .st0 {
                                        fill: #ffffff;
                                    }
                                </style>
                                <g id="Ebene_1-2">
                                    <g>
                                        <path
                                            class="st0"
                                            d="M82.9,0L0,47.7v95.4l82.9,47.7l82.9-47.7V47.7L82.9,0z M149.1,107.5c0,3.3,0,6.6,0,10
			c0,5.8-0.1,11.6-0.1,17.3c0,0.4-0.3,1-0.6,1.2c-3.4,2.1-6.9,4-10.3,6c-0.1,0.1-0.3,0.1-0.6,0.2v-29.4c-1.7,1-3.2,1.8-4.8,2.7
			c-7.9,4.6-15.8,9.1-23.7,13.7c-4.1,2.4-8.2,4.7-12.3,7.2c-0.3,0.2-0.6,0.9-0.6,1.3c0,9,0,18.1,0,27.1c0,1.1-0.3,1.8-1.3,2.4
			c-3.4,1.9-6.8,3.9-10.6,6.1c0-2.9,0-5.5,0-8.1c0-16.7,0-33.4-0.1-50.2c0-4.7,0.2-11.9,0.2-14.2c0-1.8-0.2-3.4-2.3-3.6
			c-1.2-0.1-2.8,0.8-5.3,2.3s-13.9,8-20.7,11.9c-5,2.9-10,5.8-15,8.7c-4,2.3-8,4.7-12.1,7c-1.8,1-3.6,2-5.5,2.7
			c-2.8,1-5.5,0.5-7.5-1.9c-1.4-1.6-2-3.6-2-5.8c0-15.4,0.1-30.8,0.1-46.2c0-0.7,0.1-1.4,0.2-2c0.5-3.5,1.8-6.7,3.6-9.7
			c2.2-3.7,4.9-6.8,8.7-9c5.1-2.9,10.1-5.8,15.2-8.8C48.4,42.6,55,38.8,61.5,35c4.1-2.4,8.3-4.8,12.4-7.2c1.1-0.6,2.1-1.2,3.4-1.9
			c0,4.6,0,8.8,0,13.1c0,0.3-0.3,0.7-0.6,0.8c-4.8,2.8-9.7,5.6-14.5,8.4c-4.9,2.8-9.8,5.6-14.6,8.5c-5.9,3.4-11.8,6.8-17.7,10.3
			c-1.1,0.7-2.1,1.5-3,2.5c-1.4,1.5-1.1,3.5-1.1,5.4c-0.1,12.2-0.1,24.5-0.1,36.7c0,0.5,0.1,0.9,0.2,1.4c0.3,1,0.9,1.3,1.9,1
			c0.3-0.1,0.6-0.2,0.8-0.4c3.6-2.1,7.2-4.1,10.8-6.2c6.6-3.8,13.2-7.6,19.8-11.4c4.4-2.5,15.4-8.8,18.2-10.4s8.2-2.9,12.8-0.6
			c4.3,2.2,5.7,5.6,5.8,8.3c0.1,3,0,19.8,0,29.8c2.6-1.5,5-2.8,7.4-4.2c4.6-2.7,9.2-5.3,13.8-8c6.5-3.8,13-7.5,19.5-11.2
			c0.6-0.3,0.7-0.8,0.7-1.4c0-9.3,0-18.6,0-27.8c0-0.4,0.2-1.1,0.6-1.3c3.6-2.1,7.3-4.2,11-6.3c0,0.5,0.1,0.8,0.1,1.1
			C149.2,78.4,149.2,92.9,149.1,107.5L149.1,107.5z" />
                                        <g>
                                            <path
                                                class="st0"
                                                d="M203,64.9c-1.3,0-2.5-0.3-3.6-1c-1.1-0.7-2-1.5-2.6-2.6c-0.6-1.1-1-2.3-1-3.6V37.1c0-1.3,0.3-2.5,1-3.6
				s1.5-2,2.6-2.6c1.1-0.6,2.3-1,3.6-1h27.8v7.6H205c-0.5,0-0.9,0.1-1.2,0.4c-0.3,0.3-0.4,0.7-0.4,1.2v16.7c0,0.5,0.1,0.9,0.4,1.2
				c0.3,0.3,0.7,0.4,1.2,0.4h25.8v7.6L203,64.9L203,64.9z" />
                                            <path
                                                class="st0"
                                                d="M264.7,64.9l-20.3-35h8.8l14.7,25.5l14.7-25.5h8.7l-20.3,35H264.7L264.7,64.9z" />
                                            <path
                                                class="st0"
                                                d="M302.7,64.9v-35h7.5v35.1L302.7,64.9L302.7,64.9z" />
                                            <path
                                                class="st0"
                                                d="M324.5,64.9v-35h7.6v13.7h6.9l11.5-13.7h7.9v2.6l-12.5,14.9l12.5,14.9v2.6h-7.9l-11.5-13.7h-6.9v13.7
				L324.5,64.9L324.5,64.9z" />
                                            <path
                                                class="st0"
                                                d="M379,64.9c-1.3,0-2.5-0.3-3.6-1s-2-1.5-2.6-2.6c-0.6-1.1-1-2.3-1-3.6v-3.3h7.5v2.9h19.9v-6.1H379
				c-1.3,0-2.5-0.3-3.6-1s-2-1.5-2.6-2.6c-0.6-1.1-1-2.3-1-3.6v-6.9c0-1.3,0.3-2.5,1-3.6s1.5-2,2.6-2.6c1.1-0.6,2.3-1,3.6-1h20.6
				c1.3,0,2.5,0.3,3.6,1c1.1,0.6,2,1.5,2.6,2.6s1,2.3,1,3.6v3.3h-7.6v-2.9h-19.9v6.1h20.3c1.3,0,2.5,0.3,3.6,1
				c1.1,0.7,2,1.5,2.6,2.6c0.7,1.1,1,2.3,1,3.6v6.9c0,1.3-0.3,2.5-1,3.6s-1.5,2-2.6,2.6s-2.3,1-3.6,1H379L379,64.9z" />
                                            <path
                                                class="st0"
                                                d="M198.2,148.4V83.9h9.7v27.4h46.5V83.9h9.8v64.4h-9.8V121h-46.5v27.4H198.2L198.2,148.4z" />
                                            <path
                                                class="st0"
                                                d="M285.7,148.4c-2.1,0-4.1-0.5-5.9-1.6c-1.8-1-3.2-2.4-4.2-4.2c-1-1.8-1.6-3.7-1.6-5.9V95.5
				c0-2.2,0.5-4.1,1.6-5.9c1-1.8,2.5-3.2,4.2-4.2c1.8-1,3.7-1.6,5.9-1.6h41.2c2.1,0,4.1,0.5,5.9,1.6c1.8,1.1,3.2,2.4,4.2,4.2
				c1,1.8,1.6,3.7,1.6,5.9v41.2c0,2.1-0.5,4.1-1.6,5.9c-1,1.8-2.5,3.2-4.2,4.2c-1.8,1-3.7,1.6-5.9,1.6H285.7L285.7,148.4z
				 M286,138.7h40.6c0.6,0,1.1-0.2,1.5-0.7c0.4-0.4,0.6-1,0.6-1.6V95.8c0-0.6-0.2-1.1-0.6-1.6s-0.9-0.7-1.5-0.7H286
				c-0.6,0-1.1,0.2-1.6,0.7s-0.7,1-0.7,1.6v40.6c0,0.6,0.2,1.1,0.7,1.6S285.4,138.7,286,138.7z" />
                                            <path
                                                class="st0"
                                                d="M359.6,148.4c-2.1,0-4.1-0.5-5.9-1.6c-1.8-1-3.2-2.4-4.2-4.2c-1-1.8-1.6-3.7-1.6-5.9V133h9.7v3.5
				c0,0.6,0.2,1.1,0.7,1.6c0.5,0.4,1,0.7,1.6,0.7h40.6c0.6,0,1.1-0.2,1.5-0.7c0.4-0.4,0.6-1,0.6-1.6v-13.2c0-0.7-0.2-1.2-0.6-1.6
				s-0.9-0.6-1.5-0.6h-40.9c-2.1,0-4.1-0.5-5.9-1.6c-1.8-1-3.2-2.4-4.2-4.2s-1.6-3.7-1.6-5.9V95.5c0-2.2,0.5-4.1,1.6-5.9
				c1-1.8,2.5-3.2,4.2-4.2c1.8-1,3.7-1.6,5.9-1.6h41.2c2.1,0,4.1,0.5,5.9,1.6c1.8,1.1,3.2,2.4,4.2,4.2c1,1.8,1.6,3.7,1.6,5.9v3.8
				h-9.8v-3.5c0-0.6-0.2-1.1-0.6-1.6s-0.9-0.7-1.5-0.7h-40.6c-0.6,0-1.1,0.2-1.6,0.7s-0.7,1-0.7,1.6v13.2c0,0.7,0.2,1.2,0.7,1.6
				s1,0.6,1.6,0.6h40.9c2.1,0,4.1,0.5,5.9,1.6c1.8,1,3.2,2.4,4.2,4.2c1,1.8,1.6,3.7,1.6,5.9v13.8c0,2.1-0.5,4.1-1.6,5.9
				c-1,1.8-2.5,3.2-4.2,4.2s-3.7,1.6-5.9,1.6L359.6,148.4L359.6,148.4z" />
                                            <path
                                                class="st0"
                                                d="M446.3,148.4V93.6h-27.4v-9.7h64.4v9.7h-27.4v54.8H446.3L446.3,148.4z" />
                                            <path
                                                class="st0"
                                                d="M489.8,148.4V83.9h9.7v64.4H489.8z" />
                                            <path
                                                class="st0"
                                                d="M509.2,148.4V83.9h11.5l43.1,51.4V83.9h9.8v64.4h-11.5l-43.2-51.5v51.5H509.2L509.2,148.4z" />
                                            <path
                                                class="st0"
                                                d="M595.3,148.4c-2.2,0-4.1-0.5-5.9-1.6s-3.2-2.4-4.2-4.2c-1-1.8-1.6-3.7-1.6-5.9V95.5c0-2.2,0.5-4.1,1.6-5.9
				c1-1.8,2.5-3.2,4.2-4.2c1.8-1,3.7-1.6,5.9-1.6h41.1c2.2,0,4.1,0.5,5.9,1.6s3.2,2.4,4.2,4.2s1.6,3.7,1.6,5.9v3.8h-9.8v-3.6
				c0-0.6-0.2-1.1-0.6-1.6s-0.9-0.7-1.5-0.7h-40.6c-0.6,0-1.1,0.2-1.6,0.7s-0.7,1-0.7,1.6v40.6c0,0.6,0.2,1.1,0.7,1.6
				c0.5,0.4,1,0.7,1.6,0.7h40.6c0.6,0,1.1-0.2,1.5-0.7c0.4-0.4,0.6-1,0.6-1.6v-13.7h-15.2V113h25v23.7c0,2.1-0.5,4.1-1.6,5.9
				c-1,1.8-2.5,3.2-4.2,4.2c-1.8,1-3.8,1.6-5.9,1.6L595.3,148.4L595.3,148.4z" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                    <ul class="nav-links">
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <a href="/server">Server</a>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn">
                                    Support
                                    <span class="arrow"></span>
                                </button>
                                <div class="dropdown-content">
                                    <a href="/support">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="16px"
                                            height="16px"
                                            fill="currentColor"
                                            class="bi bi-headset"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z" />
                                        </svg>
                                        Support
                                    </a>
                                    <a href="/faq">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="16"
                                            height="16"
                                            fill="currentColor"
                                            class="bi bi-question-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                                        </svg>
                                        FAQ
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn">
                                    About us
                                    <span class="arrow"></span>
                                </button>
                                <div class="dropdown-content">
                                    <p>Infrastructure</p>
                                    <a href="/datacenter">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="16"
                                            height="16"
                                            fill="currentColor"
                                            class="bi bi-database-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M3.904 1.777C4.978 1.289 6.427 1 8 1s3.022.289 4.096.777C13.125 2.245 14 2.993 14 4s-.875 1.755-1.904 2.223C11.022 6.711 9.573 7 8 7s-3.022-.289-4.096-.777C2.875 5.755 2 5.007 2 4s.875-1.755 1.904-2.223Z" />
                                            <path
                                                d="M2 6.161V7c0 1.007.875 1.755 1.904 2.223C4.978 9.71 6.427 10 8 10s3.022-.289 4.096-.777C13.125 8.755 14 8.007 14 7v-.839c-.457.432-1.004.751-1.49.972C11.278 7.693 9.682 8 8 8s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972Z" />
                                            <path
                                                d="M2 9.161V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13s3.022-.289 4.096-.777C13.125 11.755 14 11.007 14 10v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972Z" />
                                            <path
                                                d="M2 12.161V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16s3.022-.289 4.096-.777C13.125 14.755 14 14.007 14 13v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972Z" />
                                        </svg>
                                        Datacenter
                                    </a>
                                    <a href="/hardware">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="16"
                                            height="16"
                                            fill="currentColor"
                                            class="bi bi-pc-horizontal"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M1 6a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H1Zm11.5 1a.5.5 0 1 1 0 1 .5.5 0 0 1 0-1Zm2 0a.5.5 0 1 1 0 1 .5.5 0 0 1 0-1ZM1 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5ZM1.25 9h5.5a.25.25 0 0 1 0 .5h-5.5a.25.25 0 0 1 0-.5Z" />
                                        </svg>
                                        Hardware
                                    </a>
                                    <a href="/it">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="16"
                                            height="16"
                                            fill="currentColor"
                                            class="bi bi-pc-display"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V1Zm1 13.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0Zm2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0ZM9.5 1a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5ZM9 3.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5ZM1.5 2A1.5 1.5 0 0 0 0 3.5v7A1.5 1.5 0 0 0 1.5 12H6v2h-.5a.5.5 0 0 0 0 1H7v-4H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5H7V2H1.5Z" />
                                        </svg>
                                        IT-Dienstleistungen
                                    </a>
                                    <p>Legal</p>
                                    <a href="/imprint">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="16"
                                            height="16"
                                            fill="currentColor"
                                            class="bi bi-geo-alt"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                                            <path
                                                d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                        </svg>
                                        Imprint
                                    </a>
                                    <a href="/privacypolicy">
                                        <svg
                                            width="16px"
                                            height="16px"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H8C8.55228 23 9 22.5523 9 22C9 21.4477 8.55228 21 8 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V6C19 6.55228 19.4477 7 20 7C20.5523 7 21 6.55228 21 6V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM17 9C14.7909 9 13 10.7909 13 13V14.304C11.8348 14.7159 11 15.8271 11 17.1333V20C11 21.6569 12.3431 23 14 23H20C21.6569 23 23 21.6569 23 20V17.1333C23 15.8271 22.1652 14.7159 21 14.304V13C21 10.7909 19.2091 9 17 9ZM19 13V14.1333H15V13C15 11.8954 15.8954 11 17 11C18.1046 11 19 11.8954 19 13ZM13 17.1333C13 16.581 13.4477 16.1333 14 16.1333H20C20.5523 16.1333 21 16.581 21 17.1333V20C21 20.5523 20.5523 21 20 21H14C13.4477 21 13 20.5523 13 20V17.1333Z"
                                                fill="#000000" />
                                        </svg>
                                        Privacy Policy
                                    </a>
                                    <a href="/terms">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="16"
                                            height="16"
                                            fill="currentColor"
                                            class="bi bi-file-earmark-text"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                                            <path
                                                d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                                        </svg>
                                        Terms
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="https://www.google.com">
                                <button class="loginButton">Coming soon</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </body>
</html>
