<%- include("partials/header.ejs") %>

<main>
    <section class="faq-title-section">
        <div class="container">
            <div class="faq-title">
                <h1>FREQUENTLY ASKED</h1>
                <h1>QUESTIONS</h1>
            </div>
        </div>
    </section>
    <section class="faq-questions-section">
        <div class="container">
            <div class="faq-questions">
                <div class="questions-type">
                    <h2>Type of questions</h2>
                </div>
                <div class="faq-questions-list">
                    <div class="faq-question-box">
                        <details>
                            <summary>There is a question here</summary>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.
                        </details>
                        <hr />
                        <details>
                            <summary>Thre is a second question here</summary>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Quia amet magnam fugit nihil delectus, id
                            ratione deleniti minima, ipsum accusantium
                            exercitationem est ipsa, possimus harum distinctio
                            consequatur qui recusandae et.
                        </details>
                        <hr />
                        <details>
                            <summary>Question number three</summary>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.
                        </details>
                        <hr />
                        <details>
                            <summary>This is the fourth</summary>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Dolores, error!
                        </details>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="faq-questions-section even--section">
        <div class="container">
            <div class="faq-questions">
                <div class="questions-type type--even">
                    <h2>Type of questions</h2>
                </div>
                <div class="faq-questions-list">
                    <div class="faq-question-box faq--even-box">
                        <details class="details--even">
                            <summary class="summary--even">
                                There is a question here
                            </summary>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.
                        </details>
                        <hr />
                        <details class="details--even">
                            <summary class="summary--even">
                                Thre is a second question here
                            </summary>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Quia amet magnam fugit nihil delectus, id
                            ratione deleniti minima, ipsum accusantium
                            exercitationem est ipsa, possimus harum distinctio
                            consequatur qui recusandae et.
                        </details>
                        <hr />
                        <details class="details--even">
                            <summary class="summary--even">
                                Question number three
                            </summary>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.
                        </details>
                        <hr />
                        <details class="details--even">
                            <summary class="summary--even">
                                This is the fourth
                            </summary>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Dolores, error!
                        </details>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include("partials/footer.ejs") %>
