<%- include("partials/header.ejs") %>

<main>
    <div class="specifications-section">
        <div class="container">
            <div class="specifications">
                <div class="specifications-table">
                    <table>
                        <caption class="table-title">
                            Hardware Specifications
                        </caption>
                        <tbody>
                            <tr>
                                <th>CPU</th>
                                <th>RAM</th>
                                <th>Storage</th>
                                <th>Connectivity</th>
                            </tr>
                            <tr>
                                <td>2x AMD Epyc 7544</td>
                                <td>2TB DDR4 ECC</td>
                                <td>
                                    Ceph storage with Samsung PM1733 NVMe PCI
                                    4.0 SSDs
                                </td>
                                <td>2x 10 Gbit/s (LACP)</td>
                            </tr>
                            <tr>
                                <td>AMD Epyc 7443P</td>
                                <td>512GB DDR4 ECC</td>
                                <td>
                                    Ceph storage with Samsung PM1733 NVMe PCI
                                    4.0 SSDs
                                </td>
                                <td>2x 10 Gbit/s (LACP)</td>
                            </tr>
                            <tr>
                                <td>2x Intel Xeon E5-2697A v4</td>
                                <td>768GB DDR4 ECC</td>
                                <td>
                                    Ceph storage with Samsung PM1733 NVMe PCI
                                    4.0 SSDs
                                </td>
                                <td>2x 10 Gbit/s (LACP)</td>
                            </tr>
                            <tr>
                                <td>2x Intel Xeon E5-2699 v3</td>
                                <td>768GB DDR4 ECC</td>
                                <td>
                                    Ceph storage with Samsung PM1733 NVMe PCI
                                    4.0 SSDs
                                </td>
                                <td>2x 10 Gbit/s (LACP)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include("partials/footer.ejs") %>
