<%- include("partials/header.ejs") %>

<main>
    <section class="firstSection">
        <div class="area">
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="container">
                <div class="main-hero">
                    <div class="hero-description">
                        <h1>We deliver to you</h1>
                        <h1>
                            <a
                                href=""
                                class="typewrite"
                                data-period="750"
                                data-type='[ "Fast Servers", "99.9% Uptime Guarantee", "Friendly Support", "Scalability" ]'>
                                <span class="wrap"></span>
                            </a>
                        </h1>
                        <p>
                            Welcome to Cviks-Hosting Hosting - Your Gateway to
                            High-Performance Servers. We deliver unrivaled
                            speed, security, and reliability for your websites
                            and applications. Join us for a hosting experience
                            that empowers your online presence.
                        </p>
                    </div>
                    <div class="hero-img">
                        <img
                            src="/images/server-tp.png"
                            alt="Server Picture"
                            width="500"
                            height="500" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features-section">
        <div class="container">
            <div class="features">
                <div class="features-title">
                    <h2>Our Server Advantages</h2>
                    <p>Discover What Sets Our Servers Apart</p>
                </div>
                <div class="features-row">
                    <div class="feature-img">
                        <a href="">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                fill="currentColor"
                                class="bi bi-headset"
                                viewBox="0 0 16 16">
                                <path
                                    d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z" />
                            </svg>
                        </a>
                    </div>
                    <div class="feature">
                        <h3>Customer Support</h3>
                        <p>
                            Get help and personalized assistance with your
                            server through Discord or Skype.
                        </p>
                    </div>
                    <div class="feature-line"></div>
                    <div class="feature feature--right-side">
                        <h3>Competitive Pricing</h3>
                        <p>
                            Enjoy high-quality server solutions without breaking
                            the bank. Our competitive pricing ensures that you
                            get exceptional value for your investment.
                        </p>
                    </div>
                    <div class="feature-img">
                        <a href="">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                fill="currentColor"
                                class="bi bi-cart"
                                viewBox="0 0 16 16">
                                <path
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="features-row">
                    <div class="feature-img">
                        <a href="">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                fill="currentColor"
                                class="bi bi-cpu-fill"
                                viewBox="0 0 16 16">
                                <path
                                    d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
                                <path
                                    d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5z" />
                            </svg>
                        </a>
                    </div>
                    <div class="feature">
                        <h3>High Performance Hardware</h3>
                        <p>
                            Experience blazing-fast server performance with our
                            state-of-the-art hardware. Our servers are equipped
                            with powerful processors, ample RAM, and
                            lightning-fast SSD storage to ensure your
                            applications run at peak efficiency.
                        </p>
                    </div>
                    <div class="feature-line"></div>
                    <div class="feature feature--right-side">
                        <h3>Reliable Uptime</h3>
                        <p>
                            Maximize your online presence with our servers
                            boasting industry-leading uptime. Your website and
                            applications will be available to your audience when
                            it matters most.
                        </p>
                    </div>
                    <div class="feature-img">
                        <a href="">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="32"
                                height="32"
                                fill="currentColor"
                                class="bi bi-graph-up-arrow"
                                viewBox="0 0 16 16">
                                <path
                                    fill-rule="evenodd"
                                    d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="information-section">
        <div class="container">
            <div class="information">
                <h4>Webinterface</h4>
                <br />
                <h3>COMMING SOON</h3>
            </div>
        </div>
    </section>
</main>

<%- include("partials/footer.ejs") %>
