<%- include("partials/header.ejs") %>

<main>
    <section class="firstSection">
        <div class="area">
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="container">
                <div class="main-hero">
                    <div class="hero-description">
                        <h1>Stuff here</h1>
                        <h1>
                            <a
                                href=""
                                class="typewrite"
                                data-period="2000"
                                data-type='[ "Hello Placeholder.", "We do things.", "This is a text.", "Welcome to the website." ]'>
                                <span class="wrap"></span>
                            </a>
                        </h1>
                        <p>Ho boy do we have a lot of text here</p>
                    </div>
                    <div class="hero-img">
                        <img
                            src="/images/server-tp.png"
                            alt="Server Picture"
                            width="500"
                            height="500" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features-section">
        <div class="container">
            <div class="features">
                <div class="features-title">
                    <h2>Our features</h2>
                    <p>Some small stuff here</p>
                </div>
                <div class="features-row">
                    <div class="feature-img">
                        <img src="/images/OBDKVJ0.jpg" alt="" />
                    </div>
                    <div class="feature ">
                        <h3>Support</h3>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Cum magnam illum eos vel aliquid quam nam
                            optio ut beatae temporibus. Dolorum placeat unde
                            iste obcaecati velit repudiandae molestiae explicabo
                            temporibus!
                        </p>
                    </div>
                    <div class="feature-line"></div>
                    <div class="feature feature--right-side">
                        <h3>Pricing Features</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Mollitia at, totam ratione architecto
                            repudiandae saepe ipsa eum est cumque provident
                            cupiditate, excepturi ut sunt et, illo hic voluptas
                            explicabo voluptatibus!
                        </p>
                    </div>
                    <div class="feature-img">
                        <img src="/images/OBDKVJ0.jpg" alt="" />
                    </div>
                </div>
                <div class="features-row">
                    <div class="feature-img">
                        <img src="/images/OBDKVJ0.jpg" alt="" />
                    </div>
                    <div class="feature">
                        <h3>Hardware Features</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. At, laudantium quidem! Facere expedita
                            voluptatibus molestias explicabo necessitatibus.
                            Cupiditate vel excepturi officiis tempora odit
                            labore itaque molestiae esse. Facere, itaque enim!
                        </p>
                    </div>
                    <div class="feature-line"></div>
                    <div class="feature feature--right-side">
                        <h3>Network Features</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit. Architecto minus possimus obcaecati nesciunt
                            debitis, sint facilis! Deleniti voluptatem neque
                            sint tempore hic necessitatibus reiciendis! Ab
                            temporibus ullam autem ipsam repellendus.
                        </p>
                    </div>
                    <div class="feature-img">
                        <img src="/images/OBDKVJ0.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="information-section">
        <div class="container">
            <div class="information">
                <h4>There is something usefull here probably</h4>
            </div>
        </div>
    </section>
</main>

<%- include("partials/footer.ejs") %>
