<%- include("partials/header.ejs") %>

<main>
    <section class="firstSection">
        <div class="area">
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="container">
                <div class="main-hero">
                    <div class="hero-description">
                        <h1>We deliver to you</h1>
                        <h1>
                            <a
                                href=""
                                class="typewrite"
                                data-period="750"
                                data-type='[ "Fast Servers", "99.9% Uptime Guarantee", "Friendly Support", "Scalability" ]'>
                                <span class="wrap white--bar"></span>
                            </a>
                        </h1>
                        <p>
                            Welcome to Cviks-Hosting Hosting - Your Gateway to
                            High-Performance Servers. We deliver unrivaled
                            speed, security, and reliability for your websites
                            and applications. Join us for a hosting experience
                            that empowers your online presence.
                        </p>
                    </div>
                    <div class="hero-img">
                        <img
                            src="/images/server-tp.png"
                            alt="Server Picture"
                            width="500"
                            height="500" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features-section">
        <div class="container">
            <div class="features">
                <div class="features-title">
                    <h2>Our Server Advantages</h2>
                    <p>Discover What Sets Our Servers Apart</p>
                </div>
                <div class="features-row">
                    <div class="features-column">
                        <div class="feature">
                            <div class="feature-img">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="32"
                                    height="32"
                                    fill="currentColor"
                                    class="bi bi-headset"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z" />
                                </svg>
                            </div>
                            <h3>Customer Support</h3>
                            <p>
                                Get help and personalized assistance with your
                                server through Discord or Skype.
                            </p>
                        </div>
                    </div>
                    <div class="features-column">
                        <div class="feature">
                            <div class="feature-img">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="32"
                                    height="32"
                                    fill="currentColor"
                                    class="bi bi-cart"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg>
                            </div>
                            <h3>Competitive Pricing</h3>
                            <p>
                                Enjoy high-quality server solutions without
                                breaking the bank. Our competitive pricing
                                ensures that you get exceptional value for your
                                investment.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="features-row">
                    <div class="features-column">
                        <div class="feature">
                            <div class="feature-img">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="32"
                                    height="32"
                                    fill="currentColor"
                                    class="bi bi-cpu-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
                                    <path
                                        d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5z" />
                                </svg>
                            </div>

                            <h3>High Performance Hardware</h3>
                            <p>
                                Experience blazing-fast server performance with
                                our state-of-the-art hardware. Our servers are
                                equipped with powerful processors, ample RAM,
                                and lightning-fast SSD storage to ensure your
                                applications run at peak efficiency.
                            </p>
                        </div>
                    </div>
                    <div class="features-column">
                        <div class="feature">
                            <div class="feature-img">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="32"
                                    height="32"
                                    fill="currentColor"
                                    class="bi bi-graph-up-arrow"
                                    viewBox="0 0 16 16">
                                    <path
                                        fill-rule="evenodd"
                                        d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z" />
                                </svg>
                            </div>
                            <h3>Reliable Uptime</h3>
                            <p>
                                Maximize your online presence with our servers
                                boasting industry-leading uptime. Your website
                                and applications will be available to your
                                audience when it matters most.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="information-section">
        <div class="container">
            <div class="information">
                <h3>Webinterface</h3>
                <br />
                <h4>COMMING SOON</h4>
                <div class="information-row">
                    <div class="information-img">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            id="SvgjsSvg1903"
                            x="0"
                            y="0"
                            version="1.1"
                            viewBox="0 0 512 512"
                            width="200"
                            height="200"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns:svgjs="http://svgjs.dev/svgjs">
                            <path
                                d="M0 .001h235.016v50.361H0zm0 92.327h235.016v50.36H0zm0 92.328v50.36h235.016v-50.36zM461.638.001h50.361v235.016h-50.361zm-92.328 0h50.36v235.016h-50.36zm-92.327 0v235.015h50.36V.001zm0 461.638h235.016V512H276.983zm0-92.328h235.016v50.36H276.983zm163.673-92.327H276.983v50.36H512v-50.36zM0 276.984h50.361V512H0zm92.328 0h50.36V512h-50.36zm92.327 0v235.015h50.361V276.984z"
                                fill='url("#SvgjsLinearGradient1904")'></path>
                            <defs>
                                <linearGradient
                                    gradientTransform="rotate(0 0.5 0.5)"
                                    id="SvgjsLinearGradient1904">
                                    <stop
                                        stop-opacity=" 1"
                                        stop-color="rgba(129, 178, 236)"
                                        offset="0"></stop>
                                    <stop
                                        stop-opacity=" 1"
                                        stop-color="rgba(128, 166, 244)"
                                        offset="0.48"></stop>
                                    <stop
                                        stop-opacity=" 1"
                                        stop-color="rgba(255, 255, 255)"
                                        offset="1"></stop>
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                    <div class="information-text">
                        <h3>Cviks-Hosting Web Interface</h3>
                        <p>
                            Experience server hosting made simple with our web
                            interface. Easily control servers, monitor real-time
                            resource usage, manage billing, and access top-notch
                            support. Customize your server environment and
                            enhance security effortlessly. Safeguard your data
                            with snapshots and automated backups. Seamlessly
                            integrate our services with your applications using
                            our API. Get started today and unlock the full
                            potential of Cviks-Hosting.
                        </p>
                    </div>
                </div>
                <div class="information-row">
                    <div class="information-text">
                        <h3>Our Web Interface Features</h3>
                        <ul>
                            <li>
                                Optimize server performance with resource
                                scaling to meet your changing needs.
                            </li>
                            <li>
                                Collaborate effortlessly with team members by
                                granting role-based access control.
                            </li>
                            <li>
                                Access detailed server logs and analytics for
                                data-driven insights into your infrastructure's
                                health and performance.
                            </li>
                        </ul>
                    </div>
                    <div class="information-img">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            id="Capa_1"
                            width="200"
                            height="200"
                            viewBox="0 0 512 512">
                            <path
                                d="m234.789 86.298-63.642-64.642L0 192.794v126.401l.447.445zM107.47 255.997l63.631-63.631 148.47 148.47-63.63 63.63zm212.17 255.556L86.298 277.211l-64.642 63.642L192.796 512h126.397zM192.358.445l233.348 234.348 64.642-63.639L319.208 0H192.803zm-.037 170.72 63.631-63.631 148.472 148.471-63.631 63.631zm148.53 319.177L512 319.193V191.924L277.211 425.702zM512 512V361.615L361.615 512zM0 361.617V512h150.374zm511.559-211.674.441-.441V0H361.628zM0 0v150.374L150.381 0z"
                                fill='url("#SvgjsLinearGradient1044")'></path>
                            <defs>
                                <linearGradient id="SvgjsLinearGradient1044">
                                    <stop
                                        stop-color="#3a7bd5"
                                        offset="0"></stop>
                                    <stop
                                        stop-color="#3a6073"
                                        offset="1"></stop>
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include("partials/footer.ejs") %>
