<%- include("partials/header.ejs") %>

<main>
    <section class="prices-section">
        <div class="container">
            <div class="prices">
                <div class="prices-title">
                    <h1>Available price options</h1>
                </div>
                <div class="prices-buttens">
                    <div class="prices-toggle">
                        <button id="price-btn1" class="active">
                            KVM-Rootserver
                        </button>
                        <button id="price-btn2">Dedicated Server</button>
                    </div>
                </div>
                <!-- KVM ROOTSERVER SECTION -->
                <div id="kvm-root-prices" class="prices-list active">
                    <div class="prices-features">
                        <div class="prices-features-card">
                            <p class="features-top-paragraph">
                                KVM FEATURES INCLUDE
                            </p>
                            <ul>
                                <li>1 Gbit/s Connectivity</li>
                                <li>Unlimited Fair-Use Traffic</li>
                                <li>Standard DDoS-Protection</li>
                                <li>High Performance NVMe Ceph Cluster</li>
                                <li>Fast Support</li>
                            </ul>
                            <p class="features-bottom-paragraph"></p>
                        </div>
                    </div>
                    <div class="prices-card-list">
                        <div class="prices-card">
                            <h2>STARTER</h2>
                            <div
                                class="prices-card-number animate__animated animate__fadeIn">
                                <div class="prices-card-number-text">
                                    <p class="prices-card-number-big">€ 5</p>
                                    <p class="prices-card-number-small">/ mo</p>
                                </div>
                            </div>
                            <ul>
                                <li>2 CPU Cores</li>
                                <hr />
                                <li>25 GB Disk</li>
                                <hr />
                                <li>2 GiB RAM</li>
                            </ul>
                        </div>
                        <div class="prices-card">
                            <h2>STANDARD</h2>
                            <div
                                class="prices-card-number animate__animated animate__fadeIn">
                                <div class="prices-card-number-text">
                                    <p class="prices-card-number-big">€ 8</p>
                                    <p class="prices-card-number-small">/ mo</p>
                                </div>
                            </div>
                            <ul>
                                <li>3 CPU Cores</li>
                                <hr />
                                <li>40 GB Disk</li>
                                <hr />
                                <li>3 GiB RAM</li>
                            </ul>
                        </div>
                        <div class="prices-card">
                            <h2>SMALL</h2>
                            <div
                                class="prices-card-number animate__animated animate__fadeIn">
                                <div class="prices-card-number-text">
                                    <p class="prices-card-number-big">€ 10</p>
                                    <p class="prices-card-number-small">/ mo</p>
                                </div>
                            </div>
                            <ul>
                                <li>4 CPU Cores</li>
                                <hr />
                                <li>50 GB Disk</li>
                                <hr />
                                <li>8 GiB RAM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="prices-card-list">
                        <div class="prices-card">
                            <h2>MEDIUM</h2>
                            <div
                                class="prices-card-number animate__animated animate__fadeIn">
                                <div class="prices-card-number-text">
                                    <p class="prices-card-number-big">€ 15</p>
                                    <p class="prices-card-number-small">/ mo</p>
                                </div>
                            </div>
                            <ul>
                                <li>4 CPU Cores</li>
                                <hr />
                                <li>60 GB Disk</li>
                                <hr />
                                <li>12 GiB RAM</li>
                            </ul>
                        </div>
                        <div class="prices-card">
                            <h2>ADVANCED</h2>
                            <div
                                class="prices-card-number animate__animated animate__fadeIn">
                                <div class="prices-card-number-text">
                                    <p class="prices-card-number-big">€ 20</p>
                                    <p class="prices-card-number-small">/ mo</p>
                                </div>
                            </div>
                            <ul>
                                <li>6 CPU Cores</li>
                                <hr />
                                <li>80 GB Disk</li>
                                <hr />
                                <li>18 GiB RAM</li>
                            </ul>
                        </div>
                        <div class="prices-card">
                            <h2>PREMIUM</h2>
                            <div
                                class="prices-card-number animate__animated animate__fadeIn">
                                <div class="prices-card-number-text">
                                    <p class="prices-card-number-big">€ 25</p>
                                    <p class="prices-card-number-small">/ mo</p>
                                </div>
                            </div>
                            <ul>
                                <li>8 CPU Cores</li>
                                <hr />
                                <li>100 GB Disk</li>
                                <hr />
                                <li>24 GiB RAM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="prices-card-list">
                        <div class="prices-card">
                            <h2>LARGE</h2>
                            <div
                                class="prices-card-number animate__animated animate__fadeIn">
                                <div class="prices-card-number-text">
                                    <p class="prices-card-number-big">€ 30</p>
                                    <p class="prices-card-number-small">/ mo</p>
                                </div>
                            </div>
                            <ul>
                                <li>10 CPU Cores</li>
                                <hr />
                                <li>150 GB Disk</li>
                                <hr />
                                <li>30 GiB RAM</li>
                            </ul>
                        </div>
                        <div class="prices-card">
                            <h2>BUSINESS</h2>
                            <div
                                class="prices-card-number animate__animated animate__fadeIn">
                                <div class="prices-card-number-text">
                                    <p class="prices-card-number-big">€ 35</p>
                                    <p class="prices-card-number-small">/ mo</p>
                                </div>
                            </div>
                            <ul>
                                <li>12 CPU Cores</li>
                                <hr />
                                <li>175 GB Disk</li>
                                <hr />
                                <li>36 GiB RAM</li>
                            </ul>
                        </div>
                        <div class="prices-card">
                            <h2>ELITE</h2>
                            <div
                                class="prices-card-number animate__animated animate__fadeIn">
                                <div class="prices-card-number-text">
                                    <p class="prices-card-number-big">€ 40</p>
                                    <p class="prices-card-number-small">/ mo</p>
                                </div>
                            </div>
                            <ul>
                                <li>14 CPU Cores</li>
                                <hr />
                                <li>200 GB Disk</li>
                                <hr />
                                <li>42 GiB RAM</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- DEDICATED SERVER SECTION -->
                <div id="dedicated-server-prices" class="prices-list">
                    <div class="prices-features">
                        <div class="prices-features-card">
                            <p class="features-top-paragraph">
                                DEDICATED SERVER FEATURES
                            </p>

                            <ul>
                                <li>2 Gbit/s Connectivity</li>
                                <li>Unlimited Fair-Use Traffic</li>
                                <li>Standard DDoS-Protection</li>
                                <li>High Performance NVMe Ceph Cluster</li>
                                <li>Fast Support</li>
                                <li>More stuff</li>
                            </ul>
                            <p class="features-bottom-paragraph"></p>
                        </div>
                    </div>
                    <div class="prices-buttens">
                        <div class="prices-toggle">
                            <button id="server-btn1" class="active">
                                AMD RYZEN
                            </button>
                            <button id="server-btn2">INTEL</button>
                            <button id="server-btn3">XEON</button>
                        </div>
                    </div>
                    <!-- AMD RYZEN SECTION -->
                    <div id="AMD-RYZEN" class="server-procesors active">
                        <div class="prices-card-list">
                            <div class="prices-card">
                                <h2>RYZEN-1</h2>
                                <div
                                    class="prices-card-number animate__animated animate__fadeIn">
                                    <div class="prices-card-number-text">
                                        <p>
                                            €
                                            <span class="price"></span>
                                        </p>
                                        <p class="prices-card-number-small">
                                            / mo
                                        </p>
                                    </div>
                                </div>
                                <ul>
                                    <li>3 CPU Cores</li>
                                    <hr />
                                    <li>40 GB Disk</li>
                                    <hr />
                                    <li>
                                        <span class="ram-text"></span>
                                        GiB RAM
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="ram-slider"
                                                min="0"
                                                max="2"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                    <hr />
                                    <li>
                                        <span class="connection-text"></span>
                                        GB/s connectivity
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="connection-slider"
                                                min="0"
                                                max="1"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="prices-card">
                                <h2>RYZEN-2</h2>
                                <div
                                    class="prices-card-number animate__animated animate__fadeIn">
                                    <div class="prices-card-number-text">
                                        <p>
                                            €
                                            <span class="price"></span>
                                        </p>
                                        <p class="prices-card-number-small">
                                            / mo
                                        </p>
                                    </div>
                                </div>
                                <ul>
                                    <li>6 CPU Cores</li>
                                    <hr />
                                    <li>80 GB Disk</li>
                                    <hr />
                                    <li>
                                        <span class="ram-text"></span>
                                        GiB RAM
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="ram-slider"
                                                min="0"
                                                max="2"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                    <hr />
                                    <li>
                                        <span class="connection-text"></span>
                                        GB/s connectivity
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="connection-slider"
                                                min="0"
                                                max="1"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="prices-card">
                                <h2>RYZEN-3</h2>
                                <div
                                    class="prices-card-number animate__animated animate__fadeIn">
                                    <div class="prices-card-number-text">
                                        <p>
                                            €
                                            <span class="price"></span>
                                        </p>
                                        <p class="prices-card-number-small">
                                            / mo
                                        </p>
                                    </div>
                                </div>
                                <ul>
                                    <li>9 CPU Cores</li>
                                    <hr />
                                    <li>120 GB Disk</li>
                                    <hr />
                                    <li>
                                        <span class="ram-text"></span>
                                        GiB RAM
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="ram-slider"
                                                min="0"
                                                max="2"
                                                step="1"
                                                value="0" />
                                        </div>
                                        <hr />
                                    </li>
                                    <li>
                                        <span class="connection-text"></span>
                                        GB/s connectivity
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="connection-slider"
                                                min="0"
                                                max="1"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="prices-card-list">
                            <div class="prices-card">
                                <h2>RYZEN-4</h2>
                                <div
                                    class="prices-card-number animate__animated animate__fadeIn">
                                    <div class="prices-card-number-text">
                                        <p>
                                            €
                                            <span class="price"></span>
                                        </p>
                                        <p class="prices-card-number-small">
                                            / mo
                                        </p>
                                    </div>
                                </div>
                                <ul>
                                    <li>3 CPU Cores</li>
                                    <hr />
                                    <li>40 GB Disk</li>
                                    <hr />
                                    <li>
                                        <span class="ram-text"></span>
                                        GiB RAM
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="ram-slider"
                                                min="0"
                                                max="2"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                    <hr />
                                    <li>
                                        <span class="connection-text"></span>
                                        GB/s connectivity
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="connection-slider"
                                                min="0"
                                                max="1"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="prices-card">
                                <h2>RYZEN-5</h2>
                                <div
                                    class="prices-card-number animate__animated animate__fadeIn">
                                    <div class="prices-card-number-text">
                                        <p>
                                            €
                                            <span class="price"></span>
                                        </p>
                                        <p class="prices-card-number-small">
                                            / mo
                                        </p>
                                    </div>
                                </div>
                                <ul>
                                    <li>6 CPU Cores</li>
                                    <hr />
                                    <li>80 GB Disk</li>
                                    <hr />
                                    <li>
                                        <span class="ram-text"></span>
                                        GiB RAM
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="ram-slider"
                                                min="0"
                                                max="2"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                    <hr />
                                    <li>
                                        <span class="connection-text"></span>
                                        GB/s connectivity
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="connection-slider"
                                                min="0"
                                                max="1"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="prices-card">
                                <h2>RYZEN-6</h2>
                                <div
                                    class="prices-card-number animate__animated animate__fadeIn">
                                    <div class="prices-card-number-text">
                                        <p>
                                            €
                                            <span class="price"></span>
                                        </p>
                                        <p class="prices-card-number-small">
                                            / mo
                                        </p>
                                    </div>
                                </div>
                                <ul>
                                    <li>9 CPU Cores</li>
                                    <hr />
                                    <li>120 GB Disk</li>
                                    <hr />
                                    <li>
                                        <span class="ram-text"></span>
                                        GiB RAM
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="ram-slider"
                                                min="0"
                                                max="2"
                                                step="1"
                                                value="0" />
                                        </div>
                                        <hr />
                                    </li>
                                    <li>
                                        <span class="connection-text"></span>
                                        GB/s connectivity
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="connection-slider"
                                                min="0"
                                                max="1"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- INTEL SECTION -->
                    <div id="INTEL" class="server-procesors">
                        <div class="prices-card-list">
                            <div class="prices-card">
                                <h2>CORE-1</h2>
                                <div
                                    class="prices-card-number animate__animated animate__fadeIn">
                                    <div class="prices-card-number-text">
                                        <p>
                                            €
                                            <span class="price"></span>
                                        </p>
                                        <p class="prices-card-number-small">
                                            / mo
                                        </p>
                                    </div>
                                </div>
                                <ul>
                                    <li>3 CPU Cores</li>
                                    <hr />
                                    <li>40 GB Disk</li>
                                    <hr />
                                    <li>
                                        <span class="ram-text"></span>
                                        GiB RAM
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="ram-slider"
                                                min="0"
                                                max="2"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                    <hr />
                                    <li>
                                        <span class="connection-text"></span>
                                        GB/s connectivity
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="connection-slider"
                                                min="0"
                                                max="1"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="prices-card">
                                <h2>CORE-2</h2>
                                <div
                                    class="prices-card-number animate__animated animate__fadeIn">
                                    <div class="prices-card-number-text">
                                        <p>
                                            €
                                            <span class="price"></span>
                                        </p>
                                        <p class="prices-card-number-small">
                                            / mo
                                        </p>
                                    </div>
                                </div>
                                <ul>
                                    <li>6 CPU Cores</li>
                                    <hr />
                                    <li>80 GB Disk</li>
                                    <hr />
                                    <li>
                                        <span class="ram-text"></span>
                                        GiB RAM
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="ram-slider"
                                                min="0"
                                                max="2"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                    <hr />
                                    <li>
                                        <span class="connection-text"></span>
                                        GB/s connectivity
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="connection-slider"
                                                min="0"
                                                max="1"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="prices-card">
                                <h2>CORE-3</h2>
                                <div
                                    class="prices-card-number animate__animated animate__fadeIn">
                                    <div class="prices-card-number-text">
                                        <p>
                                            €
                                            <span class="price"></span>
                                        </p>
                                        <p class="prices-card-number-small">
                                            / mo
                                        </p>
                                    </div>
                                </div>
                                <ul>
                                    <li>9 CPU Cores</li>
                                    <hr />
                                    <li>120 GB Disk</li>
                                    <hr />
                                    <li>
                                        <span class="ram-text"></span>
                                        GiB RAM
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="ram-slider"
                                                min="0"
                                                max="2"
                                                step="1"
                                                value="0" />
                                        </div>
                                        <hr />
                                    </li>
                                    <li>
                                        <span class="connection-text"></span>
                                        GB/s connectivity
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="connection-slider"
                                                min="0"
                                                max="1"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="prices-card-list">
                            <div class="prices-card">
                                <h2>CORE-4</h2>
                                <div
                                    class="prices-card-number animate__animated animate__fadeIn">
                                    <div class="prices-card-number-text">
                                        <p>
                                            €
                                            <span class="price"></span>
                                        </p>
                                        <p class="prices-card-number-small">
                                            / mo
                                        </p>
                                    </div>
                                </div>
                                <ul>
                                    <li>3 CPU Cores</li>
                                    <hr />
                                    <li>40 GB Disk</li>
                                    <hr />
                                    <li>
                                        <span class="ram-text"></span>
                                        GiB RAM
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="ram-slider"
                                                min="0"
                                                max="2"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                    <hr />
                                    <li>
                                        <span class="connection-text"></span>
                                        GB/s connectivity
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="connection-slider"
                                                min="0"
                                                max="1"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="prices-card">
                                <h2>CORE-5</h2>
                                <div
                                    class="prices-card-number animate__animated animate__fadeIn">
                                    <div class="prices-card-number-text">
                                        <p>
                                            €
                                            <span class="price"></span>
                                        </p>
                                        <p class="prices-card-number-small">
                                            / mo
                                        </p>
                                    </div>
                                </div>
                                <ul>
                                    <li>6 CPU Cores</li>
                                    <hr />
                                    <li>80 GB Disk</li>
                                    <hr />
                                    <li>
                                        <span class="ram-text"></span>
                                        GiB RAM
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="ram-slider"
                                                min="0"
                                                max="2"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                    <hr />
                                    <li>
                                        <span class="connection-text"></span>
                                        GB/s connectivity
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="connection-slider"
                                                min="0"
                                                max="1"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="prices-card">
                                <h2>CORE-6</h2>
                                <div
                                    class="prices-card-number animate__animated animate__fadeIn">
                                    <div class="prices-card-number-text">
                                        <p>
                                            €
                                            <span class="price"></span>
                                        </p>
                                        <p class="prices-card-number-small">
                                            / mo
                                        </p>
                                    </div>
                                </div>
                                <ul>
                                    <li>9 CPU Cores</li>
                                    <hr />
                                    <li>120 GB Disk</li>
                                    <hr />
                                    <li>
                                        <span class="ram-text"></span>
                                        GiB RAM
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="ram-slider"
                                                min="0"
                                                max="2"
                                                step="1"
                                                value="0" />
                                        </div>
                                        <hr />
                                    </li>
                                    <li>
                                        <span class="connection-text"></span>
                                        GB/s connectivity
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="connection-slider"
                                                min="0"
                                                max="1"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--------------- XEON SECTION ----------------------------------->
                    <div id="XEON" class="server-procesors">
                        <div class="prices-card-list">
                            <div class="prices-card">
                                <h2>XEON-1</h2>
                                <div
                                    class="prices-card-number animate__animated animate__fadeIn">
                                    <div class="prices-card-number-text">
                                        <p>
                                            €
                                            <span class="price"></span>
                                        </p>
                                        <p class="prices-card-number-small">
                                            / mo
                                        </p>
                                    </div>
                                </div>
                                <ul>
                                    <li>3 CPU Cores</li>
                                    <hr />
                                    <li>40 GB Disk</li>
                                    <hr />
                                    <li>
                                        <span class="ram-text"></span>
                                        GiB RAM
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="ram-slider"
                                                min="0"
                                                max="2"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                    <hr />
                                    <li>
                                        <span class="connection-text"></span>
                                        GB/s connectivity
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="connection-slider"
                                                min="0"
                                                max="1"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="prices-card">
                                <h2>XEON-2</h2>
                                <div
                                    class="prices-card-number animate__animated animate__fadeIn">
                                    <div class="prices-card-number-text">
                                        <p>
                                            €
                                            <span class="price"></span>
                                        </p>
                                        <p class="prices-card-number-small">
                                            / mo
                                        </p>
                                    </div>
                                </div>
                                <ul>
                                    <li>6 CPU Cores</li>
                                    <hr />
                                    <li>80 GB Disk</li>
                                    <hr />
                                    <li>
                                        <span class="ram-text"></span>
                                        GiB RAM
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="ram-slider"
                                                min="0"
                                                max="2"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                    <hr />
                                    <li>
                                        <span class="connection-text"></span>
                                        GB/s connectivity
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="connection-slider"
                                                min="0"
                                                max="1"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="prices-card">
                                <h2>XEON-3</h2>
                                <div
                                    class="prices-card-number animate__animated animate__fadeIn">
                                    <div class="prices-card-number-text">
                                        <p>
                                            €
                                            <span class="price"></span>
                                        </p>
                                        <p class="prices-card-number-small">
                                            / mo
                                        </p>
                                    </div>
                                </div>
                                <ul>
                                    <li>9 CPU Cores</li>
                                    <hr />
                                    <li>120 GB Disk</li>
                                    <hr />
                                    <li>
                                        <span class="ram-text"></span>
                                        GiB RAM
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="ram-slider"
                                                min="0"
                                                max="2"
                                                step="1"
                                                value="0" />
                                        </div>
                                        <hr />
                                    </li>
                                    <li>
                                        <span class="connection-text"></span>
                                        GB/s connectivity
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="connection-slider"
                                                min="0"
                                                max="1"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="prices-card-list">
                            <div class="prices-card">
                                <h2>XEON-4</h2>
                                <div
                                    class="prices-card-number animate__animated animate__fadeIn">
                                    <div class="prices-card-number-text">
                                        <p>
                                            €
                                            <span class="price"></span>
                                        </p>
                                        <p class="prices-card-number-small">
                                            / mo
                                        </p>
                                    </div>
                                </div>
                                <ul>
                                    <li>3 CPU Cores</li>
                                    <hr />
                                    <li>40 GB Disk</li>
                                    <hr />
                                    <li>
                                        <span class="ram-text"></span>
                                        GiB RAM
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="ram-slider"
                                                min="0"
                                                max="2"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                    <hr />
                                    <li>
                                        <span class="connection-text"></span>
                                        GB/s connectivity
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="connection-slider"
                                                min="0"
                                                max="1"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="prices-card">
                                <h2>XEON-5</h2>
                                <div
                                    class="prices-card-number animate__animated animate__fadeIn">
                                    <div class="prices-card-number-text">
                                        <p>
                                            €
                                            <span class="price"></span>
                                        </p>
                                        <p class="prices-card-number-small">
                                            / mo
                                        </p>
                                    </div>
                                </div>
                                <ul>
                                    <li>6 CPU Cores</li>
                                    <hr />
                                    <li>80 GB Disk</li>
                                    <hr />
                                    <li>
                                        <span class="ram-text"></span>
                                        GiB RAM
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="ram-slider"
                                                min="0"
                                                max="2"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                    <hr />
                                    <li>
                                        <span class="connection-text"></span>
                                        GB/s connectivity
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="connection-slider"
                                                min="0"
                                                max="1"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="prices-card">
                                <h2>XEON-6</h2>
                                <div
                                    class="prices-card-number animate__animated animate__fadeIn">
                                    <div class="prices-card-number-text">
                                        <p>
                                            €
                                            <span class="price"></span>
                                        </p>
                                        <p class="prices-card-number-small">
                                            / mo
                                        </p>
                                    </div>
                                </div>
                                <ul>
                                    <li>9 CPU Cores</li>
                                    <hr />
                                    <li>120 GB Disk</li>
                                    <hr />
                                    <li>
                                        <span class="ram-text"></span>
                                        GiB RAM
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="ram-slider"
                                                min="0"
                                                max="2"
                                                step="1"
                                                value="0" />
                                        </div>
                                        <hr />
                                    </li>
                                    <li>
                                        <span class="connection-text"></span>
                                        GB/s connectivity
                                        <div class="slider-container">
                                            <input
                                                type="range"
                                                class="connection-slider"
                                                min="0"
                                                max="1"
                                                step="1"
                                                value="0" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="server-information-section">
        <div class="container">
            <div class="server-information">
                <h2>Features</h2>
                <div class="information-row">
                    <div class="information-img">
                        <img src="/images/service-speed.png" alt="" />
                    </div>
                    <div class="information-divider"></div>
                    <div class="information-text">
                        <div class="information-text-layout">
                            <h3>Fast</h3>
                            <p>
                                Experience lightning-fast server performance
                                with our cutting-edge infrastructure, ensuring
                                your website or application runs at optimal
                                speeds. Our robust servers guarantee quick
                                response times, providing users with a seamless
                                and responsive online experience.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="information-row">
                    <div class="information-text">
                        <div class="information-text-layout">
                            <h3>Reliable</h3>
                            <p>
                                Trust in our server hosting services for
                                unbeatable reliability. With state-of-the-art
                                redundancy and 99% uptime, we ensure your data
                                and applications are always accessible and
                                secure."
                            </p>
                        </div>
                    </div>
                    <div class="information-divider"></div>
                    <div class="information-img">
                        <img src="/images/service-time.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include("partials/footer.ejs") %>
