html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /* background-color: #023483; */
}

/* ----------------------------------- Header ------------------------------------ */

header {
    background-color: #023483;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 65%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

svg {
    padding-right: 12px;
}

.logo img {
    max-height: 50px;
}

.navbar-icon > svg {
    height: 60px;
    width: 150px;
}

.navbar-icon > a {
    display: flex;
    height: 60px;
    width: 150px;
    text-decoration: none;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    height: 60px;
    margin: 0px;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
}

.loginButton {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 20px;
    font-size: 1rem;
    border-radius: 0.35rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: white;
    border-color: #fff;
    :hover {
        color: #fff;
        background-color: #fff;
        border-color: #fff;
    }
}

.loginButton:hover {
    background-color: rgba(255, 255, 255, 0.438);
}

/* -------------- Dropdown Button -------------- */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 5px 25px 5px 5px;
    font-size: 14px;
    border: none;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 11;
    border-radius: 15px;
}

.dropdown-content a {
    height: 25px;
    color: rgba(0, 0, 0, 0.655);
    padding: 10px 14px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown-content p {
    color: black;
    font-weight: bold;
    margin: 0px;
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: block;
    background-color: transparent;
}

.dropdown-content a:hover {
    color: black;
    background-color: rgba(186, 184, 184, 0.609);
    border-radius: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}

.arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
}

/* ----------------------------------- Footer ------------------------------------ */

footer {
    background-color: #fff;
    color: #023483;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 20%;
    padding: 15px;
}

.footer-list {
    padding-left: 0px;
    list-style-type: none;
}

.footer-list li {
    padding-bottom: 15px;
}

.footer-list a {
    text-decoration: none;
    color: #0233837f;
    font-size: 14px;
}

.footer-list a:hover {
    color: #0652ce;
}

.company-logo {
    padding: 15px;
    padding-bottom: 25px;
}

.company-logo svg {
    width: 50px;
    height: 50px;
}

.contact-logos {
    padding: 10px;
}

.contact-logos a {
    padding-right: 5px;
    text-decoration: none;
    color: rgba(140, 136, 136, 0.537);
}

.contact-logos a:hover {
    color: rgba(140, 136, 136, 0.995);
}

/* ---------------------------------   Main  -------------------------------------- */

/*------------- Animation ----------------*/
.area {
    /* background: #4e64c8; */
    background: linear-gradient(
        135deg,
        rgb(0, 68, 157) 0%,
        rgb(14, 42, 71) 100%
    );
    width: 100%;
    height: 100vh;
}

.circles {
    position: absolute;
    left: 0;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/*------------------------ Hero ----------------------------------*/

.main-hero {
    width: 100%;
    height: 1200px;
    z-index: 10;
    display: flex;
    align-items: center;
}

.hero-description {
    width: 50%;
    color: white;
    text-align: left;
    min-width: 50%;
}

h1 {
    margin: 15px 0px;
    font-size: 60px;
}

.hero-description > h1 > a {
    text-decoration: none;
    color: white;
}

.hero-description > p {
    margin-right: 50px;
}

.hero-img {
    width: 50%;
}

.main-hero img {
    /* float: right; */
    display: block;
    margin-left: auto;
    border-radius: 150px;
}

.hero-img > p {
    color: black;
    text-decoration: none;
    text-align: center;
}

.hero-img > p > a {
    color: black;
    text-decoration: none;
}

/*------------------------ Features ----------------------------------*/

.features {
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 150px;
}

.features-title {
    color: #023483;
    margin: 50px 0px;
    width: 100%;
    text-align: center;
}

.features-title > h2 {
    text-decoration: underline;
    font-weight: 700;
    font-size: 36px;
}

.features-title > p {
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
}

.features-row {
    display: flex;
    width: 100%;
    height: 175px;
    text-align: left;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
}

.feature {
    width: 50%;
    height: 100%;
    color: #023483;
    padding: 15px;
    margin: 0px 35px;
}

.feature > h3 {
    font-weight: 600;
}

.feature > p {
    color: #023383b5;
}

.feature--right-side {
    text-align: right;
}

.feature-img {
    display: flex;
    width: 75px;
    margin: 0px 25px;
    border-radius: 35%;
    border-color: #4e64c8;
    transition: all 0.3s ease;
}

.feature-img > a {
    text-decoration: none;
}

.feature-img > a > svg {
    padding: 10px;
    margin: 10px;
    background-color: #4e64c8;
    color: white;
    border-radius: 35%;
}

.feature-line {
    width: 4px;
    height: 100%;
    background-color: #023483;
    margin: 0px 25px;
    border-radius: 2px;
}

/*------------------------ Information ----------------------------------*/

.information-section {
    width: 100%;
    height: 600px;
    background: linear-gradient(
        135deg,
        rgb(0, 68, 157) 0%,
        rgb(14, 42, 71) 100%
    );
}

.information {
    width: 100%;
    height: 600px;
    text-align: center;
    color: white;
}

/*------------------------------- Server/Price Page --------------------------------------*/

.prices-section {
    width: 100%;
    height: 1300px;
    /* background: linear-gradient(
        135deg,
        rgb(0, 68, 157) 0%,
        rgb(14, 42, 71) 100%
    ); */
    background-image: url(/images/shiny.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0px;
    padding-bottom: 250px;
}

.prices {
    width: 100%;
    display: block;
    margin-bottom: 250px;
}

/* ---------------- */
/*------ Title ----*/
/* ---------------- */

.prices-title {
    height: 100px;
    width: 100%;
    text-align: center;
}

.prices-title > h1 {
    font-size: 46px;
    color: white;
}

/* ---------------- */
/*------ Buttens ----*/
/* ---------------- */

.prices-buttens {
    width: 100%;
    display: flex;
    justify-content: center;
}

.prices-toggle > button {
    color: white;
    padding: 10px 20px;
    margin: 15px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 10px;
}

.prices-toggle > button:hover {
    background: linear-gradient(
        -45deg,
        rgba(179, 220, 237, 1) 0%,
        rgba(41, 184, 229, 1) 0%,
        rgba(32, 124, 229, 1) 50%,
        rgba(32, 124, 229, 1) 100%
    );
    transition: background-color 350ms linear;
}

.prices-toggle > button.active {
    background: linear-gradient(
        -45deg,
        rgba(179, 220, 237, 1) 0%,
        rgba(41, 184, 229, 1) 0%,
        rgba(32, 124, 229, 1) 50%,
        rgba(32, 124, 229, 1) 100%
    );
    color: #fff;
    border: 1px solid #fff;
}

/* ---------------- */
/*---- Price List --*/
/* ---------------- */

.prices-list {
    display: none;
    width: 100%;
    justify-content: center;
    color: #023383dc;
    text-align: center;
}

.prices-list.active {
    display: block;
}

/* ---------------- */
/*      Features    */
/* ---------------- */

.prices-features {
    display: flex;
    width: 100%;
    margin: 50px 0px;
    justify-content: center;
}

.prices-features-card {
    width: 22%;
    margin: 20px;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 22px;
}

.prices-features-card > p {
    width: 100%;
    margin: 0px;
    padding: 20px 0px;
    color: #fff;
    background: linear-gradient(
        -45deg,
        rgba(179, 220, 237, 1) 0%,
        rgba(41, 184, 229, 1) 0%,
        rgba(32, 124, 229, 1) 50%,
        rgba(32, 124, 229, 1) 100%
    );
}

.features-top-paragraph {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.features-bottom-paragraph {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.prices-features-card > ul {
    width: 100%;
    padding: 0px;
}

.prices-features-card > ul > li {
    width: 100%;
    margin: 0px;
    padding: 10px 0px;
    list-style-type: none;
}

/* ---------------- */
/*------ Cards -----*/
/* ---------------- */

.prices-card {
    min-width: 22%;
    margin: 15px;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 20px;
    transition: 0.15s ease-in-out;
}

.prices-card:hover {
    transform: scale(1.12);
}

.prices-card-list {
    display: flex;
    width: auto;
    text-align: center;
    justify-content: space-evenly;
}

.prices-card > h2 {
    width: 100%;
    margin: 15px 0px 40px 0px;
    font-size: 46px;
    background: -webkit-linear-gradient(
        rgb(179, 220, 237, 1),
        rgb(32, 124, 229, 1)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.prices-card-number {
    display: flex;
    width: 100%;
    color: #023483;
    justify-content: center;
}

.bubble {
    width: 50%;
    background: linear-gradient(
        -45deg,
        rgba(179, 220, 237, 1) 0%,
        rgba(41, 184, 229, 1) 0%,
        rgba(32, 124, 229, 1) 50%,
        rgba(32, 124, 229, 1) 100%
    );
    color: #fff;
    border-radius: 50%;
    padding: 15px;
}

.prices-card-number-big {
    margin: 0px;
    font-size: 46px;
}

.prices-card-number-small {
    margin: 0px;
    font-size: 24px;
}

.prices-card > ul {
    padding: 0px 40px;
    list-style-type: none;
}

.prices-card > ul > li {
    width: 100%;
    padding: 30px 0px;
}

.prices-card-bubble {
    color: #fff;
    background-color: #023483;
    width: 50px;
    text-wrap: wrap;
}

.small-text {
    font-size: 20px;
}

.slider-container {
    padding: 10px;
}

/*------------------------------- Server Information --------------------------------------*/

.server-information {
    display: block;
    width: 100%;
    margin: auto;
    align-items: center;
}

.server-information > h2 {
    width: 100%;
    text-align: center;
}

.information-row {
    display: flex;
    width: 100%;
    /* height: 40vh; */
    justify-content: center;
    align-items: center;
}

.information-text {
    display: flex;
    /* width: 45%; */
    align-items: center;
}

.information-text-layout {
    display: block;
}

.information-text-layout > h3 {
    color: #023483;
}

.information-text-layout > p {
    color: #023483;
    border-top: 2px solid #023483;
    border-bottom: 2px solid #023483;
    padding: 15px 0px;
}

.information-img {
    display: flex;
    width: 650px;
    margin: 20px;
}

.information-img > img {
    width: 650px;
}

.information-divider {
    width: 8px;
    height: 150px;
    background-color: #023483;
    border-radius: 5px;
    justify-content: center;
    margin: 0px 35px;
}

/*------------------------------- Support Page --------------------------------------*/

.support-section {
    background-image: url(/images/polygon.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.support {
    width: 100%;
    display: block;
    color: #fff;
    margin: 450px 0px;
    margin-top: 350px;
}

.support ul {
    list-style-type: none;
    padding: 0px;
}

.support-svg {
    max-width: fit-content;
    background-color: #5b7db5;
    padding: 15px;
    margin: auto;
    border-radius: 50%;
}

.support-svg svg {
    padding: 0px;
}

.top-support {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.discord-support {
    padding: 0px 40px;
    border-right: 4px solid #fff;
    border-radius: 2px;
}

.skype-support {
    padding: 0px 40px;
}

.bottom-support {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 2px;
}

.email-support {
    border-top: 4px solid #fff;
}

.email-support a {
    color: #fff;
}

.support-button {
    cursor: pointer;
    font-size: 16px;
    padding: 5px 15px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 3px;
    transition: background-color 0.15s ease-in-out;
}
.support-button:hover {
    background-color: #ffffff73;
}

/*------------------------------- FAQ Page --------------------------------------*/

.faq-title-section {
    /* background-color: #4e64c8; */
    background: linear-gradient(
        135deg,
        rgb(0, 68, 157) 0%,
        rgb(14, 42, 71) 100%
    );
}

.faq-title {
    width: 100%;
    margin: 125px 0px;
    text-align: center;
    color: #fff;
}

.faq-title > h1 {
    font-size: 48px;
}

.faq-questions {
    width: 100%;
}

.questions-type {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 75px;
}

.faq-questions-list {
    display: flex;
    width: 100%;
    padding-bottom: 150px;
    flex-direction: column;
    align-items: center;
}

.faq-question-box {
    width: 60%;
    border: 2px solid #023483;
    border-radius: 15px;
    padding: 15px;
}

details {
    background: transparent;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: #023483;
    font-weight: 300;
}

details summary {
    cursor: pointer;
    transition: margin 150ms ease-out;
    font-size: 24px;
    padding-bottom: 10px;
    color: #023483;
}

details[open] summary {
    margin-bottom: 10px;
}

/*------------------------------- Datacenter Page --------------------------------------*/

.map-section {
    background-image: url("/images/map-image.png");
    width: 100%;
    z-index: 1;
}

.map {
    display: flex;
    justify-content: center;
    width: 100%;
}

.map-side {
    width: 50%;
}

.map-text {
    background-color: white;
    color: #023483;
    z-index: 10;
    padding: 25px;
    margin: 600px 75px;
    border-radius: 25px;
}

.map-text > p {
    font-weight: 300;
}

/*--------------- Features Page --------------*/

.location-features-section {
    background-color: #023483;
}

.location-features {
    width: 100%;
    margin: 100px;
    color: white;
}

.location-features-title {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
}

.location-features-list {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.location-features-item {
    margin: 25px;
}

.location-features-item > svg {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    color: #0652ce;
}

/*------------------------------- Hardware Page --------------------------------------*/

.specifications-section {
    background: linear-gradient(
        -45deg,
        rgba(179, 220, 237, 1) 0%,
        rgba(41, 184, 229, 1) 0%,
        rgba(32, 124, 229, 1) 50%,
        rgba(32, 124, 229, 1) 100%
    );
}

.specifications {
    width: 100%;
    margin: 250px 0px;
}

.hardware-title {
    width: 100%;
    margin-bottom: 200px;
    text-align: center;
    color: #fff;
}

.hardware-title > h1 {
    font-size: 48px;
}

.specifications-table {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.specifications-table > table {
    border-collapse: collapse;
    background-color: #fff;
}

.specifications-table th,
.specifications-table td {
    border-bottom: 1px solid #023483;
    padding: 10px;
    /* background-color: white; */
}

.specifications-table th {
    background-color: #023483;
    color: #fff;
    text-align: left;
}

.specifications-table tr:hover {
    background-color: #b1b1b1;
}
